<div class="cards">
    <div class="project-card animated fadeInUp" id="project_0">
        <div class="card-inner">
            <div class="front">
                <div class="project-title">
                    <span>Title</span>
                </div>
                <div class="project-img">
                    <img src="https://placehold.it/400&text=Project%20Img" alt="" class="img-responsive">
                </div>
                <div class="project-desc">
                    Non-BS4 Container
                </div>
                <div class="project-footer">
                    <span class="footer-icon">
                        <i class="fal fa-code-branch"></i> 2,342
                    </span>
                    <span class="footer-icon">
                        <i class="fal fa-star"></i> 425
                    </span>
                </div>
            </div>
            <div class="back">
                World!
            </div>
        </div>
    </div>
    <div class="project-card animated fadeInUp" id="project_1">
        <div class="card-inner">
            <div class="front">
                <div class="project-title">
                    <span>Title</span>
                </div>
                <div class="project-img">
                    <img src="https://placehold.it/400&text=Project%20Img" alt="" class="img-responsive">
                </div>
                <div class="project-desc">
                    Non-BS4 Container
                </div>
                <div class="project-footer">
                    <span class="footer-icon">
                        <i class="fal fa-code-branch"></i> 2,342
                    </span>
                    <span class="footer-icon">
                        <i class="fal fa-star"></i> 425
                    </span>
                </div>
            </div>
            <div class="back">
                World!
            </div>
        </div>
    </div>
    <div class="project-card animated fadeInUp" id="project_2">
        <div class="card-inner">
            <div class="front">
                <div class="project-title">
                    <span>Title</span>
                </div>
                <div class="project-img">
                    <img src="https://placehold.it/400&text=Project%20Img" alt="" class="img-responsive">
                </div>
                <div class="project-desc">
                    Non-BS4 Container
                </div>
                <div class="project-footer">
                    <span class="footer-icon">
                        <i class="fal fa-code-branch"></i> 2,342
                    </span>
                    <span class="footer-icon">
                        <i class="fal fa-star"></i> 425
                    </span>
                </div>
            </div>
            <div class="back">
                World!
            </div>
        </div>
    </div>
    <div class="project-card animated fadeInUp" id="project_3">
        <div class="card-inner">
            <div class="front">
                <div class="project-title">
                    <span>Title</span>
                </div>
                <div class="project-img">
                    <img src="https://placehold.it/400&text=Project%20Img" alt="" class="img-responsive">
                </div>
                <div class="project-desc">
                    Non-BS4 Container
                </div>
                <div class="project-footer">
                    <span class="footer-icon">
                        <i class="fal fa-code-branch"></i> 2,342
                    </span>
                    <span class="footer-icon">
                        <i class="fal fa-star"></i> 425
                    </span>
                </div>
            </div>
            <div class="back">
                World!
            </div>
        </div>
    </div>
    <div class="project-card animated fadeInUp" id="project_4">
        <div class="card-inner">
            <div class="front">
                <div class="project-title">
                    <span>Title</span>
                </div>
                <div class="project-img">
                    <img src="https://placehold.it/400&text=Project%20Img" alt="" class="img-responsive">
                </div>
                <div class="project-desc">
                    Non-BS4 Container
                </div>
                <div class="project-footer">
                    <span class="footer-icon">
                        <i class="fal fa-code-branch"></i> 2,342
                    </span>
                    <span class="footer-icon">
                        <i class="fal fa-star"></i> 425
                    </span>
                </div>
            </div>
            <div class="back">
                World!
            </div>
        </div>
    </div>
    <div class="project-card animated fadeInUp" id="project_5">
        <div class="card-inner">
            <div class="front">
                <div class="project-title">
                    <span>Title</span>
                </div>
                <div class="project-img">
                    <img src="https://placehold.it/400&text=Project%20Img" alt="" class="img-responsive">
                </div>
                <div class="project-desc">
                    Non-BS4 Container
                </div>
                <div class="project-footer">
                    <span class="footer-icon">
                        <i class="fal fa-code-branch"></i> 2,342
                    </span>
                    <span class="footer-icon">
                        <i class="fal fa-star"></i> 425
                    </span>
                </div>
            </div>
            <div class="back">
                World!
            </div>
        </div>
    </div>
    <div class="project-card animated fadeInUp" id="project_6">
        <div class="card-inner">
            <div class="front">
                <div class="project-title">
                    <span>Title</span>
                </div>
                <div class="project-img">
                    <img src="https://placehold.it/400&text=Project%20Img" alt="" class="img-responsive">
                </div>
                <div class="project-desc">
                    Non-BS4 Container
                </div>
                <div class="project-footer">
                    <span class="footer-icon">
                        <i class="fal fa-code-branch"></i> 2,342
                    </span>
                    <span class="footer-icon">
                        <i class="fal fa-star"></i> 425
                    </span>
                </div>
            </div>
            <div class="back">
                World!
            </div>
        </div>
    </div>
    <div class="project-card animated fadeInUp" id="project_7">
        <div class="card-inner">
            <div class="front">
                <div class="project-title">
                    <span>Title</span>
                </div>
                <div class="project-img">
                    <img src="https://placehold.it/400&text=Project%20Img" alt="" class="img-responsive">
                </div>
                <div class="project-desc">
                    Non-BS4 Container
                </div>
                <div class="project-footer">
                    <span class="footer-icon">
                        <i class="fal fa-code-branch"></i> 2,342
                    </span>
                    <span class="footer-icon">
                        <i class="fal fa-star"></i> 425
                    </span>
                </div>
            </div>
            <div class="back">
                World!
            </div>
        </div>
    </div>
    <div class="project-card animated fadeInUp" id="project_8">
        <div class="card-inner">
            <div class="front">
                <div class="project-title">
                    <span>Title</span>
                </div>
                <div class="project-img">
                    <img src="https://placehold.it/400&text=Project%20Img" alt="" class="img-responsive">
                </div>
                <div class="project-desc">
                    Non-BS4 Container
                </div>
                <div class="project-footer">
                    <span class="footer-icon">
                        <i class="fal fa-code-branch"></i> 2,342
                    </span>
                    <span class="footer-icon">
                        <i class="fal fa-star"></i> 425
                    </span>
                </div>
            </div>
            <div class="back">
                World!
            </div>
        </div>
    </div>
    <div class="project-card animated fadeInUp" id="project_9">
        <div class="card-inner">
            <div class="front">
                <div class="project-title">
                    <span>Title</span>
                </div>
                <div class="project-img">
                    <img src="https://placehold.it/400&text=Project%20Img" alt="" class="img-responsive">
                </div>
                <div class="project-desc">
                    Non-BS4 Container
                </div>
                <div class="project-footer">
                    <span class="footer-icon">
                        <i class="fal fa-code-branch"></i> 2,342
                    </span>
                    <span class="footer-icon">
                        <i class="fal fa-star"></i> 425
                    </span>
                </div>
            </div>
            <div class="back">
                World!
            </div>
        </div>
    </div>
</div>

            
{{#contentFor "js"}}
<script>
    var pageTitle = "Projects";
</script>
<script>
    $('.project-card').click( function(e) {
        $(e.currentTarget).toggleClass('card-flipped');
    })
</script>
{{/contentFor}}